@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-primary: #3b82f6;
  --color-secondary: #1e293b;
  --color-accent: #f59e0b;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--color-background);
  color: #f8fafc;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  width: 100%;
}
